@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CineWave.Models.Campanha;

@{
    var usuario = ViewBag.Usuario as CineWave.Models.Usuario;
    var campanhas = ViewBag.Campanhas as IEnumerable<CineWave.Models.Campanha>;
}

<h2>Editar Campanha</h2>

<form asp-action="EditarCampanha" method="post">
    
    
    <div>
        <input asp-for="ReachExpectations" class="form-control" hidden value="@ViewBag.campanhas.Id" name="id" />
    </div>
    

    <div class="form-group">
        <label asp-for="MovieTitle" class="control-label"></label>
        <input value="@ViewBag.campanhas.MovieTitle" asp-for="MovieTitle" name="MovieTitle" class="form-control" />
        <span asp-validation-for="MovieTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GenderMovie" class="control-label"></label>
        <input asp-for="GenderMovie" class="form-control" name="GenderMovie" />
        <span asp-validation-for="GenderMovie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AgeRange" class="control-label"></label>
        <input asp-for="AgeRange" class="form-control" name="AgeRange" />
        <span asp-validation-for="AgeRange" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Budget" class="control-label"></label>
        <input asp-for="Budget" class="form-control" name="Budget" />
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReachExpectations" class="control-label"></label>
        <input asp-for="ReachExpectations" class="form-control" name="ReachExpectations" />
        <span asp-validation-for="ReachExpectations" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
