@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var usuario = ViewBag.Usuario as CineWave.Models.Usuario;
    var numeroDeCampanhas = ViewBag.NumeroDeCampanhas;
}

<div class="container mt-5">
    <h2>Perfil do Usuário</h2>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title"><strong>Nome do Usuário:</strong> @usuario.UserName</h5>
            <p class="card-text"><strong>Email:</strong> @usuario.UserEmail</p>
            <p class="card-text"><strong>Número de Campanhas:</strong> @numeroDeCampanhas</p>
            <form asp-action="DesativarPerfil" asp-controller="Usuario" method="post">
                <button type="submit" class="btn btn-danger">Desativar</button>
            </form>
        </div>
    </div>
</div>